#brand-img {
  margin-left: 7px;
}

#nav-mobile li {
  margin-right: 5px;
}

#google-login-img {
  /* object-fit: contain; */
  height: 40px;
}

#google-img-container {
  display: flex;
  align-items: center;
  height: 64px;
}

#landing {
  text-align: center;
}

#dashboard {
  width: 85%;
  margin: auto;
}

#chart1 {
  height: 25px;
}
